<head>
    <style>
        .graph {
            background-color: #fafafa;
            border-radius: 30px;
            padding: 15px;
            width: 500px;
            height: 590px;
        }

        .flex-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    </style>
    <title>Arima</title>
</head>
<div>
    <div class="flex-center">
        <div class="graph">
            {% include "charts.html" %}
        </div>
    </div>
</div>