{% extends "hello.html" %}
{% block body %}
<div>
    
    <h1> {{ plot_stock_symbol }}'s Prediction on a period of 35 days </h1>
    <div style="height: 80%; width: 100%;">
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        const labels = {{ time | tojson}};
    
        const data = {
            labels: labels,
            datasets: [ {
                label: {{ plot_stock_symbol | tojson }} + ' real',
                fill: false,
                borderColor: 'rgb(0, 0, 132)',
                data: {{ real | tojson}},
            },{
                label: {{ plot_stock_symbol | tojson }} + ' [predicted mdlDIFF]',
                fill: false,
                borderColor: 'rgb(0, 240, 132)',
                data: {{ predicted | tojson}},
            },{
                label: {{ plot_stock_symbol | tojson }} + ' [predicted mdlFULL]',
                fill: false,
                borderColor: 'rgb(4, 255, 132)',
                data: {{ predicted2 | tojson}},
            }]
        };
    
        const config = {
            type: 'line',
            data: data,
            options: { maintainAspectRatio: false }
        };
    
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    
    </script>  
</div>
{% endblock body %}
